.Calculator {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.EnemyTeam {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cecbcf;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.HeroPicker {
  background: #ffffff;
  border: 1px solid #cecbcf;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.HeroPicker .HeroIcon {
  margin: 0 4px;
}
.HeroPicker .Role {
  border-bottom: 1px solid rgba(240, 237, 242, 1);
  padding: 0 0 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.HeroPicker .Role:last-child {
  border: none;
}
.HeroPicker .Role .Label {
  display: flex;
  align-self: center;
  font-size: 0.7em;
  color: rgba(177, 174, 178, 1);
  align-items: center;
  margin: 5px;
}
.HeroPicker .Role .Icons {
  display: flex;
  flex: 1;
  justify-content: center;
}
.Section {
  margin-top: 15px;
}
.SectionTitle {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 5px;
}
.NextButton {
  font-size: 1em;
  color: rgb(83, 106, 194);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(168, 170, 198, 1);
  margin: 15px 0;
  border-radius: 5px;
  padding: 10px 5px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 600px) {
  .ResultsContainer {
    display: flex;
    justify-content: center;
  }
}

.Results {
  background: #fff;
  margin: 10px 0;
  border: 1px solid #cecbcf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.Results .Title {
  margin: 0;
  padding: 0;
  background: #888aab;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.ResultList {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Counter .Score {
  color: #0088ff;
  font-size: 0.9em;
  text-align: center;
}
.Counter .Role {
  font-size: 0.6em;
  text-align: center;
  margin-top: 2px;
}

.HeroIcon {
  display: flex;
  width: 55px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
}

.HeroIconName {
  margin-top: 1px;
  font-size: 0.6em;
  white-space: pre;
}
.Missing .HeroIconName {
  color: #b1aeb2;
}
.HeroIconImage {
  width: 45px;
  height: 45px;
  border: 1px solid #cecbcf;
  border-radius: 50%;
  background: #f8f7f9;
  overflow: hidden;
}

.Missing .HeroIconImage {
  border-style: dashed;
  border-color: #cecbcf;
}
.HeroIcon img {
  max-height: 100%;
  width: auto;
}

.HeroIcon:hover {
  background: #f0f0f1;
}
.HeroIcon:active, .HeroIcon:focus {
  background: #cecbcf;
}
.HeroIcon:focus .Missing .HeroIconName  {
  color: #b1aeb2;
}

.Algorithm {
  border-bottom: 1px solid #888aab;
  padding-bottom: 15px;
  margin-top: 15px;
}
.Algorithm:last-child {
  border: none;
}
.Algorithm .Title {
  font-size: 1em;
  font-weight: bold;
}
.Algorithm .Overview {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 1em;
}
.Algorithm .Description {
  font-size: 0.8em;
}

.Topbar {
  width: 100vw;
  background: rgb(254, 254, 255);
  border-bottom: 1px solid rgba(206, 203, 207, 1);
  display: flex;
  padding: 5px;
  color: rgba(93, 93, 93, 1);
}

.Topbar .Action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Topbar .Action button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: rgb(83, 106, 194);
}

.Topbar .Action.disabled {
  color: rgba(206, 203, 207, 1);
}

.Topbar .Left {
  flex: 1;
  justify-content: flex-start;
}

.Topbar .Center {
  flex: 1;
}

.Topbar .Right {
  flex: 1;
  justify-content: flex-end;
}
