.HeroList {
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #cecbcf;
    background: #fafafa;
}

.Row {
    padding: 5px 10px 5px 5px;
    border-bottom: 1px solid #cecbcf;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Row:hover {
  background: rgb(240, 237, 242);
}
.Row:focus, .Row:active {
  background: rgb(218, 216, 220);
}
.Row .Middle {
    display: flex;
    flex: 1;
    padding: 0 15px;
}

.HeroDetails {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cecbcf;
}
.HeroDetails .Instructions {
    white-space: pre-wrap;
    font-size: 0.8emm;
    line-height: 1.2emm;
}
.HeroDetails .Counters {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
