.App {
}

.EnemyTeamWrapper {
    margin: 10px auto;
}
@media (min-width: 600px) {
    .EnemyTeamWrapper {
        width: 500px;
    }
}
.EnemyTeam {
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cecbcf;
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.HeroPicker {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border: 1px solid #cecbcf;
    padding: 10px;
    justify-content: space-around;;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 10px;
}
.HeroPicker .HeroIcon {
    margin: 8px auto;
}
@media (min-width: 600px) {
    .ResultsContainer {
        display: flex;
        justify-content: center;
    }
}

.Results {
    background: #fff;
    margin: 10px;
    border: 1px solid #cecbcf;
}
.Results .Title {
    margin: 0;
    padding: 0;
    background: #888aab;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.Counters {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.Counter .Score {
    color: #596781;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}
.Counter .Role {
    font-size: 0.6em;
    text-align: center;
    margin-top: 2px;
}

.HeroIcon {
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.HeroIconName {
    margin-top: 1px;
    font-size: 0.6em;
}
.Missing .HeroIconImage {
    border-style: dashed;
}
.Missing .HeroIconName {
    color: #b1aeb2;
}
.HeroIconImage {
    width: 55px;
    height: 55px;
    border: 1px solid #cecbcf;
    border-radius: 50%;
    background: #f8f7f9;
    overflow: hidden;
}
.HeroIcon img {
    max-height: 100%;
    width: auto;
}
.UnpickedIcon {
    height: 55px;
}
