
.Topbar {
  width: 100vw;
  background: rgb(254, 254, 255);
  border-bottom: 1px solid rgba(206, 203, 207, 1);
  display: flex;
  padding: 5px;
  color: rgba(93, 93, 93, 1);
}

.Topbar .Action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Topbar .Action button, .Topbar .Action a {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: rgb(83, 106, 194);
  text-decoration: none;
  padding: 5px;
}

.Topbar .Action.disabled {
  color: rgba(206, 203, 207, 1);
}

.Topbar .Left {
  flex: 1;
  justify-content: flex-start;
}

.Topbar .Center {
  padding: 5px;
  flex: 1;
}

.Topbar .Right {
  flex: 1;
  justify-content: flex-end;
}

.Bottombar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  background-color: rgba(255, 255, 255, 1) !important;
  border-top: 1px solid rgba(206, 203, 207, 1);
  box-shadow: 0 0 5px rgba(189, 187, 191, 0.4);
}
.Bottombar a {
  color: rgba(206, 203, 207, 1);
  flex: 1;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid rgba(206, 203, 207, 1);
  font-size: 0.9em;
  text-decoration: none;
}
.Bottombar a:last-child {
  border: none;
}
.Bottombar a.active {
  color: rgba(93, 93, 93, 1);
}
