* {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0edf2;
  color: rgba(93, 93, 93, 1);
  line-height: 1.5;
}
a {
  color: #555555;
}
